@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .mobile-menu-open {
        display: none;
    }

    .adress-heder {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
    }

    .header-tel {
        margin-top: 6px;
        margin-bottom: 6px;
    }


    .hero {
        background-image: var(--linear-gradient),
            url(../images/hero/bg-tablet.jpg);
        height: 436px;
        max-width: 768px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: var(--linear-gradient),
                url(../images/hero/tablet-bg@2x.jpg);
        }
    }

    /* .hero-btn {
        margin-top: 36px;
    } */


    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-transform: none;
        max-width: 496px;
        max-height: 120px;
        margin-bottom: 36px;
    }

    /* .container-about {
        display: none;
    } */
    .about-item {
        width: calc((100% - 72px) / 2);
    }

    .about-title {
        text-transform: capitalize;
        text-align: left;
    }


    /* .work {
        display: none;
    } */

    .team.container {
       width: 264px;
    }

    .team-item {
        width: calc((100% - 72px) / 2);
    }
        .team-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 72px;
            column-gap: 24px;
            justify-content: center;
        }
    
       

    .customers-item {
        width: calc((100% - 48px) / 3);

    }
        .customers-list {
           row-gap: 72px; 
        }
        .foot-container, .footer-social {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start
        }

        .footer-logo {
            margin: 0;
            align-items: flex-start;
        }
        .forma {
        flex-direction: row;
        gap: 72px;
    }
         .footer-form {
             align-items: flex-start;
         }

        .footer-pre-title (
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
        )
        
         
      
    }
     
       

@media screen and (max-width: 1157px) {
    .container-about {
        display: none;
    }

    .work {
        display: none;
    }

}